body {
    margin: 0;
    font-size: 16px;
}



.container {
    margin: 20px 20px 20px 25%;
    text-align: center;
    width: 700px;
}

.container button:hover{
    background: #00bcd4;
    background-color: #1976d2;
}


.buttonClicked {
    background-color: chartreuse;

}

.buttonNotClicked {
    background-color: orangered;
}
